<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Member">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="point" property="point" />
        <result column="sup_id" property="supId"/>
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="selectMemberPage" resultType="com.example.mybatisplus.model.domain.Member">
        select *
        from member
        <where>
            sup_id = #{member.supId} and is_deleted = 0
            <if test="member.name != null and member.name != ''">
                and (member.name like '%${member.name}%'
                or id like '%${member.name}%'
                or phone like '%${member.name}%')
            </if>
        </where>
        <if test="sortDTO.order == 'asc' or sortDTO.order == 'desc'">
            order by CONVERT(${sortDTO.prop} USING gbk) COLLATE gbk_chinese_ci ${sortDTO.order}
        </if>
    </select>

</mapper>
