<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.RecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Record">
        <id column="id" property="id" />
        <id column="com_id" property="comId" />
        <result column="worker_id" property="workerId" />
        <result column="mem_id" property="memId" />
        <result column="number" property="number" />
        <result column="payment" property="payment" />
        <result column="method" property="method" />
        <result column="type" property="type"/>
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <resultMap id="MemberMap" type="com.example.mybatisplus.model.domain.Member">
        <id column="mem_id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="point" property="point" />
        <result column="sup_id" property="supId"/>
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <resultMap id="WorkerMap" type="com.example.mybatisplus.model.domain.Worker">
        <id column="worker_id" property="id" />
        <result column="sup_id" property="supId" />
        <result column="worker_name" property="name" />
        <result column="mail" property="mail" />
        <result column="password" property="password" />
        <result column="type" property="type" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <resultMap id="CommodityMap" type="com.example.mybatisplus.model.domain.Commodity">
        <id column="id" property="id" />
        <result column="sup_id" property="supId" />
        <result column="name" property="name" />
        <result column="barcode" property="barcode" />
        <result column="cla_id" property="claId" />
        <result column="inventory" property="inventory" />
        <result column="unit_id" property="unitId" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="price" property="price" />
        <result column="wholesale_price" property="wholesalePrice"/>
        <result column="is_discount" property="isDiscount" />
        <result column="is_multibarcode" property="isMultibarcode" />
        <result column="supplier_id" property="supplierId" />
        <result column="produce_date" property="produceDate" />
        <result column="expiration_time" property="expirationTime" />
        <result column="specification" property="specification" />
        <result column="parent" property="parent" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>
    <resultMap id="CommodityDTOMap" type="com.example.mybatisplus.model.dto.CommodityDTO">
        <id column="id" property="id" />
        <result column="number" property="num" />
        <result column="payment" property="sum" />
        <result column="barcode" property="barcode" />
        <result column="price" property="price" />
        <result column="name" property="name"/>
    </resultMap>
    <resultMap id="recordVOMap" type="com.example.mybatisplus.model.vo.RecordVO">
        <id column="total_number" property="totalNumber" />
        <id column="total_payment" property="totalPayment" />
        <result column="record_num" property="recordNum" />
        <result column="total_purchase_price" property="totalPurchasePrice" />
        <result column="begin_date" property="beginDate" />
        <result column="end_date" property="endDate" />
        <result column="total_profit" property="totalProfit" />
        <result column="profit_ratio" property="profitRatio"/>
        <result column="term" property="week"/>
    </resultMap>
    <resultMap id="proportionVOMap" type="com.example.mybatisplus.model.vo.ProportionVO">
        <id column="total_number" property="totalNumber" />
        <id column="total_payment" property="totalPayment" />
        <result column="total_profit" property="totalProfit" />
        <result column="classification" property="classification"/>
    </resultMap>
    <resultMap id="RecordWithMember" type="com.example.mybatisplus.model.domain.Record" extends="BaseResultMap">
        <association property="member"  javaType="com.example.mybatisplus.model.domain.Member" resultMap="MemberMap"></association>
    </resultMap>
    <resultMap id="RecordWithCommodity" type="com.example.mybatisplus.model.domain.Record" extends="BaseResultMap">
        <association property="commodity"  javaType="com.example.mybatisplus.model.domain.Commodity" resultMap="CommodityMap"></association>
    </resultMap>
    <resultMap id="RecordWithMemberWorker" type="com.example.mybatisplus.model.domain.Record" extends="BaseResultMap">
        <association property="member"  javaType="com.example.mybatisplus.model.domain.Member" resultMap="MemberMap"></association>
        <association property="worker"  javaType="com.example.mybatisplus.model.domain.Worker" resultMap="WorkerMap"></association>
    </resultMap>
    <insert id="insertRecords">
        INSERT INTO record (id, worker_id, mem_id, com_id, number, payment, method, type)
        VALUES
        <foreach collection="records" item="item" index="index" separator=",">
            (#{item.id}, #{item.workerId}, #{item.memId}, #{item.comId}, #{item.number},
             #{item.payment}, #{item.method}, #{item.type})
        </foreach>
    </insert>
    <select id="selectRecordsWithMember" resultMap="RecordWithMember">
        with recordTable as(
            select id, sum(payment) as payment, min(mem_id) as mem_id, min(type) as type, min(is_deleted) as is_deleted,
                   min(method) as method, min(create_time) as create_time, min(worker_id) as worker_id
            from record
            group by record.id
            having type = #{record.type} and is_deleted = 0 and worker_id = #{record.workerId})
        select member.name, recordTable.*
        from recordTable left outer join member on recordTable.mem_id = member.id and member.is_deleted = 0
        order by create_time desc
    </select>
    <select id="selectRecordWithCommodity" resultMap="RecordWithCommodity">
        select commodity.barcode, commodity.name, commodity.price,
        record.number, record.payment
        from record left outer join commodity on record.com_id = commodity.id and commodity.is_deleted = 0
        where record.id = #{record.id} and record.is_deleted = 0 and record.type = #{record.type}
    </select>
    <select id="selectPendedRecords" resultType="com.example.mybatisplus.model.domain.Record">
        select record.id, sum(payment) as payment, min(record.create_time) as create_time,min(record.type) as type,
               min(record.is_deleted) as is_deleted, min(worker.sup_id) as sup_id, sum(number) as number
        from record left outer join  worker on record.worker_id = worker.id and worker.is_deleted = 0
        group by record.id
        having type = 2 and is_deleted = 0 and sup_id = #{supId}
    </select>
    <select id="selectCommodityDTOByRecord" resultMap="CommodityDTOMap">
        select record.payment, record.number,
               commodity.id, commodity.price,commodity.barcode, commodity.name
        from record left outer join commodity on record.com_id = commodity.id and commodity.is_deleted = 0
        where record.type = 2 and record.id = #{record.id}
    </select>
    <select id="selectSale" resultMap="recordVOMap">
        with mytable as(
            select
                <!--按天-->
                <if test="mode == 0">
                    DATE(record.create_time)
                </if>
                <!--按周-->
                <if test="mode == 1">
                    YEARWEEK(record.create_time, 1)
                </if>
                <!--按月-->
                <if test="mode == 2">
                    DATE_FORMAT(record.create_time, '%Y-%m')
                </if>
                AS term,
                SUM(record.number) AS total_number,
                SUM(
                CASE
                WHEN record.type = 0 THEN record.payment -- 如果type为0，则加
                WHEN record.type = 1 THEN -record.payment -- 如果type为1，则减（通过取负实现）
                END
                ) AS total_payment,
                SUM(
                CASE
                WHEN record.type = 0 THEN commodity.purchase_price * record.number -- 如果type为0，则加
                WHEN record.type = 1 THEN -commodity.purchase_price * record.number -- 如果type为1，则减（通过取负实现）
                END
                ) AS total_purchase_price,
                COUNT(distinct record.id) AS record_num,
                <if test="mode == 0 || mode == 2">
                    min(date(record.create_time)) as begin_date
                </if>
                <if test="mode == 1">
                    min(date(date_sub(record.create_time,INTERVAL WEEKDAY(record.create_time) DAY))) as begin_date,
                    max(date(date_sub(record.create_time,INTERVAL WEEKDAY(record.create_time) - 6 DAY)) ) as end_date
                </if>
            from record left outer join commodity on record.com_id = commodity.id
            where record.is_deleted = 0 and record.worker_id in (select id from worker where sup_id = #{supId})
            and record.create_time &gt;= #{beginDate} and record.create_time &lt;= #{endDate}
            group by term
            ORDER BY term)
        select *, total_payment - total_purchase_price as total_profit, (total_payment - total_purchase_price)/total_purchase_price as profit_ratio
        from mytable
    </select>
    <select id="selectProportion" resultMap="proportionVOMap">
        with mytable as(
        select
        commodity.cla_id,
        SUM(record.number) AS total_number,
        SUM(record.payment) AS total_payment,
        sum(commodity.purchase_price * record.number) as total_purchase_price
        from record left outer join commodity on record.com_id = commodity.id
        where record.is_deleted = 0 and record.worker_id
        in (select id from worker where sup_id = #{supId}) and record.create_time &gt;= #{beginDate} and record.create_time &lt;= #{endDate}
        group by commodity.cla_id)
        select
        <if test="includeSubClass == false">
            mytable.total_number,
            mytable.total_payment,
            total_payment - total_purchase_price as total_profit,
            sub.classification
        </if>
        <if test="includeSubClass == true">
            sum(mytable.total_number) as total_number,
            sum(mytable.total_payment) as total_payment,
            sum(total_payment - total_purchase_price) as total_profit,
            COALESCE(p.classification, sub.classification) AS classification
        </if>
        from mytable
        left outer join classification sub ON mytable.cla_id = sub.id
        <if test="includeSubClass == true">
            left outer join classification p ON sub.cla_id = p.id
            group by classification
        </if>
    </select>
    <select id="selectSupRecords" resultMap="RecordWithMemberWorker">
        with recordTable as(
            select id, sum(payment) as payment, min(mem_id) as mem_id, min(type) as type, min(is_deleted) as is_deleted,
                   min(method) as method, min(create_time) as create_time, min(worker_id) as worker_id
            from record
            group by record.id
            having type = #{record.type} and is_deleted = 0
        <choose>
            <when test="record.workerId != null and record.workerId >= 0">
                and worker_id like '%${record.workerId}')
            </when>
            <otherwise>
                and worker_id in (select id from worker where sup_id = #{supId}) )
            </otherwise>
        </choose>
        select member.name, recordTable.*, worker.name as worker_name
        from recordTable left outer join member on recordTable.mem_id = member.id and member.is_deleted = 0
                         join worker on recordTable.worker_id = worker.id
        order by create_time desc
    </select>
    <select id="selectSellingByComId" resultMap="recordVOMap">
        with mytable as(
        select
        YEARWEEK(record.create_time, 1)
        AS term,
        record.com_id,
        SUM(record.number) AS total_number,
        SUM(record.payment) AS total_payment,
        sum(commodity.purchase_price * record.number) as total_purchase_price,
        COUNT(distinct record.id) AS record_num,
        min(date(date_sub(record.create_time,INTERVAL WEEKDAY(record.create_time) DAY))) as begin_date,
        max(date(date_sub(record.create_time,INTERVAL WEEKDAY(record.create_time) - 6 DAY)) ) as end_date
        from record left outer join commodity on record.com_id = commodity.id
        where record.com_id = #{comId} and record.create_time &gt;= #{beginDate} and record.create_time &lt;= #{endDate} and record.is_deleted = 0
        group by term
        ORDER BY term)
        select mytable.*, total_payment - total_purchase_price as total_profit, (total_payment - total_purchase_price)/total_purchase_price as profit_ratio, commodity.name
        from mytable join commodity on commodity.id = mytable.com_id
    </select>

</mapper>
