<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.RecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Record">
        <id column="id" property="id" />
        <id column="com_id" property="comId" />
        <result column="worker_id" property="workerId" />
        <result column="mem_id" property="memId" />
        <result column="number" property="number" />
        <result column="payment" property="payment" />
        <result column="method" property="method" />
        <result column="type" property="type"/>
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <insert id="insertRecords">
        INSERT INTO record (worker_id, mem_id, com_id, number, paymemnt, method, type)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.workerId}, #{item.memId}, #{item.comId}, #{item.number},
             #{item.paymemnt}, #{item.method}, #{item.type})
        </foreach>
    </insert>

</mapper>
